body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  letter-spacing: 0.8px;
}
.read-more {
  text-align: right;
}
.post {
  margin-bottom: 40px;
}

.site-footer {
  background-color: #eaeaea
}
